<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TOPVision Team Members">
    <meta name="author" content="BVLC (http://bvlc.eecs.berkeley.edu/)">

    <title>Team Members </title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">



    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3 {
      font-family: Times, serif;
      line-height:1.5em;
      border-bottom: 1px solid #ccc;
    }
    </style>
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1><a href="/">Team Members </a></h1>
      </div>    

      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" width="192" height="230" src={{imagesrc[0]}} ></a>
        <div class="media-body">
          <div class="bs-example bs-example-tabs">
            <form>
              <fieldset>
                <legend>简介</legend>                               
                <h3>
                  王博，男，博士，毕业于清华大学计算机学院。
                  <br/>主要研究方向包括计算机视觉、图像处理、人脸识别等，
                  专注于物体检测（object detection）和人脸识别(facial recognition)算法，在该领域有8年以上的研发经验。
                  目前就职于上海某外企。
                </h3>
              </fieldset>
            </form>           
          </div>

        </div>
      </div>

      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" width="192" height="240" src={{imagesrc[1]}}></a>
        <div class="media-body">
          <div class="bs-example bs-example-tabs">
            <form>
              <fieldset>
                <legend>简介</legend>                               
                <h3>
                  周东浩，男，博士，毕业于国防科技大学计算机学院。<br/>
                  主要研究方向包括机器学习、图像处理、高性能计算等，致力于用
                   最先进的高性能计算技术（GPU/FPGA）解决深度神经网络与图像处理方面的问题。
                </h3>
              </fieldset>
            </form>           
          </div>
        </div>
      </div>
      
      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" width="192" height="240" src={{imagesrc[2]}}></a>
        <div class="media-body">
          <div class="bs-example bs-example-tabs">
            <form>
              <fieldset>
                <legend>简介</legend>                               
                <h3>
                  朱浩，男，博士，毕业于荷兰阿姆斯特丹大学。国防科技大学计算机学院讲师。<br/>
                  主要研究方向包括图像处理、并行计算等，当前主要研究"天河"计算机系统上图像处理和语音识别算法并行化问题。
                </h3>
              </fieldset>
            </form>           
          </div>
        </div>
      </div>
      
      

    </div>

    <hr>
    <div id="footer">
      <div class="container">
        <p>&copy; TOPVISION  2015.  </p>
      </div>
   </div>
 </body>
</html>
